<nav class="blue darken-4">
    <div class="nav-wrapper">
        <a href="#" class="brand-logo">Get Token</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            {{#if isIndex}}
            <li class="active"><a href="/">Get Token</a></li>
            {{else}}
                <li><a href="/">Get Token</a></li>
            {{/if}}

            {{#if isLogin}}
                <li class="active"><a href="/login">BOT START</a></li>
            {{else}}
                <li><a href="/login">BOT START</a></li>
            {{/if}}
        </ul>
    </div>
</nav>