
<form class="col s12" action="/" method="POST">
<h2>Registration</h2>

<div class="row">

        <div class="row">
            <div class="input-field col s6">
                <input placeholder="Placeholder" id="first_name" type="text" class="validate" name="firstname">
                <label class="active" for="first_name">First Name</label>
            </div>
            <div class="input-field col s6">
                <input id="last_name" type="text" class="validate" name="lastname">
                <label class="active" for="last_name">Last Name</label>
            </div>
        </div>

        <div class="row">
            <div class="input-field col s12">
                <input id="password" type="password" class="validate" name="password">
                <label class="active" for="password">Password</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <input id="email" type="email" class="validate" name="email">
                <label class="active" for="email">Email</label>
            </div>
        </div>


</div>

<button type="submit" class="btn"> Register </button>
</form>