
<form class="col s12" action="/login" method="POST">

                <input id="password" placeholder="setuptoken" type="text" class="validate" name="token">
                <input id="password"  placeholder="setuptimeout" type="text" class="validate" name="timeout">


    <button type="submit" class="btn"> Get Offers </button>
</form>